<div class="border border-danger border-3 p-3">
    <h3>Grand Parent Component</h3>
    The grand parent component is passing <span class="text-danger">@Data1</span> and <span class="text-danger">@Data2</span> to the descendant components.
    <CascadingValue Value="Data1">
        <CascadingValue Value="Data2" Name="CascadeParam2">
            <Parent />
        </CascadingValue>
    </CascadingValue>
</div>

@code {
    public string Data1 { get; set; } = "First data.";
    public string Data2 { get; set; } = "Second data.";
}