<div class="border border-success border-3 p-3">
    <h3>Child Component</h3>
    <div>Received value: <span class="text-danger">@ReceivedValue</span></div>
</div>

@code {
    [CascadingParameter]
    public string ReceivedValue { get; set; } = "";
}
