<div class="border border-primary border-3 p-3">
    <h3>Parent Component</h3>
    <div>Received value at parent: <span class="text-danger">@ReceivedValueAtParent</span></div>
    <Child />
</div>

@code{
    [CascadingParameter]
    public string ReceivedValueAtParent { get; set; } = "";
}