@page "/cascading-parameter-mistakes"
@using ComponentInteraction.Shared.CascadingParameterMistakes

<h3>Cascading Parameter Mistakes</h3>
<div class="w-50">
    <TryToUpdateReferenceCascadeParameterGrandParent />
</div>