@using ComponentInteraction.Models

<div class="border border-danger border-3 p-3">
    <h3>Grand Parent Component</h3>
    The grand parent component is passing <span class="text-danger">@ExampleInstance.Data</span> to the descendant components.
    <button type="button" class="btn btn-outline-primary mb-3" @onclick="StateHasChanged">Update UI</button>
    <CascadingValue Value="ExampleInstance">
        <TryToUpdateReferenceCascadeParameterParent />
    </CascadingValue>
</div>

@code {
    public ExampleClass ExampleInstance { get; set; } = new()
    {
        Data = "Fresh data"
    };
}